@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


:root {
    /* COLORS */
    /* Grey */
    --color-grey: #949494;

    /* Blue shades */
    --color-blue-800: #242742;
    --color-blue-700: #36384D;

    /* Red */
    --color-red: #FF6155;

    /* Gradient */
    --color-gradient-start: #FF6A3A;
    --color-gradient-end: #FF527B;

    /* TYPOGRAPHY */
    --font-roboto: "Roboto", sans-serif;

    /* Preset 1 (Desktop, Bold) */
    --text-preset-1: 56px;
    --leading-preset-1: 100%;
    --tracking-preset-1: 0px;
    --font-weight-preset-1: 700;

    /* Preset 1 (Mobile, Bold) */
    --text-preset-1-mobile: 40px;
    --leading-preset-1-mobile: 100%;
    --tracking-preset-1-mobile: 0px;
    --font-weight-preset-1-mobile: 700;

    /* Preset 2 (Bold) */
    --text-preset-2-bold: 16px;
    --leading-preset-2-bold: 150%;
    --tracking-preset-2-bold: 0px;
    --font-weight-preset-2-bold: 700;

    /* Preset 2 (Regular) */
    --text-preset-2-regular: 16px;
    --leading-preset-2-regular: 150%;
    --tracking-preset-2-regular: 0px;
    --font-weight-preset-2-regular: 400;

    /* Preset 3 (Bold) */
    --text-preset-3: 12px;
    --leading-preset-3: 150%;
    --tracking-preset-3: 0px;
    --font-weight-preset-3: 700;

}

body {
    background-color: var(--color-blue-700);
    font-family: var(--font-roboto);

    @apply min-h-screen overflow-y-auto flex items-center justify-center;
}

@layer components {
    .wrapper {
        @apply w-full;
    }

    @media (min-width: 1024px) {
        .wrapper {
            @apply flex items-center justify-center min-h-screen;
        }
    }


    .card {
        @apply bg-white flex flex-col w-full max-w-[400px] mx-auto justify-center;
    }

    @media (min-width: 768px) {
        .card {
            @apply max-w-[600px] px-10 pt-10 pb-4 rounded-2xl;
        }
    }

    @media (min-width: 1024px) {
        .card {
            @apply flex-row-reverse max-w-[904px] p-8 gap-10 rounded-2xl items-center justify-center;
        }
    }

    .image {
        @apply w-full rounded-b-2xl
    }

    @media (min-width: 768px) {
        .image {
            @apply w-full rounded-2xl;
        }
    }

    .text-preset-1 {
        /* Mobile-first */
        @apply text-[length:var(--text-preset-1-mobile)] leading-[--leading-preset-1-mobile] tracking-[--tracking-preset-1-mobile] [font-weight:var(--font-weight-preset-1-mobile)] text-left text-[color:var(--color-blue-800)];

        /* Container-based override at 768px+ */
        @apply @3xl/Card:text-[length:var(--text-preset-1)] @3xl/Card:leading-[--leading-preset-1] @3xl/Card:tracking-[--tracking-preset-1] @3xl/Card:[font-weight:var(--font-weight-preset-1)];
    }





    .text-preset-3 {
        @apply text-[length:var(--text-preset-3)] leading-[--leading-preset-3] tracking-[--tracking-preset-3] [font-weight:var(--font-weight-preset-3)] text-left text-[color:var(--color-blue-800)];
    }

    .text-preset-regular {
        @apply text-[length:var(--text-preset-2-regular)] leading-[--leading-preset-2-regular] tracking-[--tracking-preset-2-regular] [font-weight:var(--font-weight-preset-2-regular)] text-left text-[color:var(--color-blue-800)]
    }

    .email-input {
        @apply w-full h-16 pl-6 border border-[color:var(--color-grey)] rounded-[8px] mb-6
    }

    .button {
        @apply w-full py-5 text-center text-[length:var(--text-preset-2-bold)] leading-[--leading-preset-2-bold] tracking-[--tracking-preset-2-bold] [font-weight:var(--font-weight-preset-2-bold)] bg-[color:var(--color-blue-800)] text-white rounded-[8px]
    }

    .button:hover {
  background-image: linear-gradient(
    to right,
    var(--color-gradient-start),
    var(--color-gradient-end)
  );
  background-color: transparent; /* fallback */
}



}